@import '../_base/base.scss';

.hero {
    min-height: 90vh;
    position: relative;
    @include media ('desktopUpWards') {
        min-height: 80vh;
    }
    &.backgroundPosition {
        background-position: center;
        @include media ('desktopUpWards') {
            background-position: right top;
        }
    }
    // opacity: 0.8;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.68531162464986) 30%, rgba(0,0,0,0) 55%, rgba(0,0,0,0) 100%);
        z-index: 1;
    }
    &:before {
        content: '';
        position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.68531162464986) 15%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 100%);
        @include media ('desktopUpWards') {
            background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.68531162464986) 20%, rgba(0,0,0,0) 45%, rgba(0,0,0,0) 100%);
        }
    }

    .container {
        width: 100%;
        padding: 20px;
        max-width: 370px;
        position: absolute;
        bottom: 15%;
        left: 0px;
        @include media ('desktopUpWards') {
            max-width: 400px;
            top: 50%;
            bottom: auto;
            left: 100px;
            transform: translateX(0%) translateY(-50%);
        }
        p {
            &.error {
                font-weight: bold;
                text-transform: uppercase;
            }
        }
        h1 {
            margin-top: 0;
            font-size: 40px;
            margin-bottom: 15px;
            @include media ('desktopUpWards') {
                margin-bottom: 20px;
                font-size: 65px;
            }
        }
        z-index: 2;
    }
}

.mainMovieTrailler {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 99;
    div {
        width: 90%;
        padding-top: 50.86%;
        position: relative;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }
}